## **1. Introduction to Python**

In [ ]:
#intro to python Week1 March-1 to March-5 2021

In [ ]:
#1.1 == Python Basics or Fundamentals
#What is Pyhton #what Python can do?#Datatype #integer, float, string, print, add, subtract, multiply, divide, modulos, 
#exponential, variable, changing float to int
#Google Colab introduction

#What is Pyhton?
Pyhton is a General purpose programming language. It was created by Guido van Rossum, and released in 1991. ![gd.jpg]()

We can almost build any thing with Python.

It's Open Source, Free!

used for Mathematics, build a any piece of softwrae, can build Applications etc.

In [ ]:
#Python as a calculator
#Addition, subtraction
print(5 + 5)
print(5 - 5)
print("my name is ....")

10
0
my name is ....

In [ ]:
# Multiplication, division, modulo (remainder), and exponentiation
print(3 * 5)
print(15 / 2)
print(15 // 2)
print(18 % 7)
print(4 ** 3)

15
7.5
7
4
64

#Variable
Variables are little boxes in your program which are useful throught the program and used to store something(data).

In [ ]:
#creating Varibales
maths_score = 88
print(maths_score)

maths_score = 90
print(maths_score)

88
90

#Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default.

In [ ]:
#Text data Type is string (str)
country = "Pakistan"
print(country)

population = "Pakistan's poulation is 212 Million"
print(population)

type(country)

Pakistan
Pakistan's poulation is 212 Million

str

In [ ]:
#Numeric Types:	int, float

number = 23
result = 44.8

print(type(result))
print(int(result))

<class 'float'>
44

In [ ]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
x = savings * 1.1 ** 7

# Print out result
print(x)

194.87171000000012

In [ ]:
#boolean data type
xyz = False

#display xyz
print(xyz)

#display the data type of xyz
print(type(xyz))
one = bool(4==2)
print(one)

False
<class 'bool'>
False

In [ ]:
print(-5 / 2)
print(-5 // 2)

-2.5
-3

In [ ]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1
year1 = savings * growth_multiplier

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = desc + " " + desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interest compound interest

In [ ]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + '. Awesome!')

I started with $100 and now have $194.87171000000012. Awesome!

In [ ]:
#1.2Lists in python 
#List: lists of lists, subset, add, slicing, replace, extend, delete

Lists are used to store multiple items in a single variable.

In [ ]:
# How to create a list , diff between string and int/float
list1 = [12 ,13, 12.3, "icodeguru"]
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas_home = [hall, kit, liv, bed, bath, "hall"]
# Print areas
print(areas_home)

[11.25, 18.0, 20.0, 10.75, 9.5, 'hall']

In [ ]:
# How to create a list of lists.

# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50


# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [ ]:
 #Subsetting Python lists is a piece of cake. Take the code sample below,
 #Remember that this is the second element, so it has index 1 

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[8])

# Print out the area of the living room
print(areas[-1])

11.25
bathroom
9.5

In [ ]:
#Adding different parts of list

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[0] + areas[1]

#Print the variable eat_sleep_area
print(eat_sleep_area)

hallway11.25

In [ ]:
#Slicing and dicing
#Selecting single values from a list is just one part of the story. 
#It's also possible to slice your list, which means selecting multiple elements from your list


# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:5]

# Use slicing to create upstairs
upstairs = areas[6:10]

upstairs1 = areas[3:]
upstairs3 = areas[:4]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)
print(upstairs1)
print(upstairs3)

['hallway', 11.25, 'kitchen', 18.0, 'living room']
['bedroom', 10.75, 'bathroom', 9.5]
[18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0]

In [ ]:
#Replace list elements
#Replacing list elements is pretty easy. Simply subset the list and assign new values to the subset. 
#You can select single elements or you can change entire list slices at once

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(areas)

# Correct the bathroom area
areas[-1] = 10.50
# Change "living room" to "chill zone"
areas[4] = "chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [ ]:
# Extend a list

# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50] 
print(areas)
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]

print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [ ]:
# delete list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
del(areas[1])
del(areas[-1])
print(areas)

['hallway', 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom']

In [ ]:
print(5/2)
print(5//2)

print(-5/2)
print(-5//2)

2.5
2
-2.5
-3

In [ ]:
#1.3 Functions like max, min, ord, chr etc,type, length=len(), sorted
#(descending===reverse=True, while opposite if needed), upper/lower case, index,
#count, append, math functions import and use like math.p

In [ ]:
#max() function returns the item with the highest value. 
#If the values are strings, an alphabetically comparison is done.

#Create variables var1 , home and var2
var1 = [1, 2, 3, 4, 5, 6]

home = ["car_porch", "lounge", "room", "drawing room"]

var2 = "Pakistan"

#print max of above variables 
print(max(var1))

print(max(home))

print(max(var2))

6
room
t

In [ ]:
#ord() function 
print(ord('a'))
print(ord('b'))

97
98

In [ ]:
#chr() function 
print(chr(100))
print(chr(120))

d
x

In [ ]:
#min() function returns the item with the lowest value

var1 = [1, 2, 3, 4, 5, 6]

home = ["car_porch", "lounge", "room", "drawing room"]

var2 = "Pakistan"

#print min of above variables 
print(min(var1))

print(min(home))

print(min(var2))

1
car_porch
P

In [ ]:
channel = "Icode Guru"
print(len(channel))

10

In [ ]:
# Create lists first and second
first = [[11.25, 18.0, 20.0, 9,55], [1,20], [2,3,4]]
new1 = sorted(first)
print(new1)
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
#full_sorted = sorted(full, reverse= 1)

# Print out full_sorted
#print(full)
#print(full_sorted)

[[1, 20], [2, 3, 4], [11.25, 18.0, 20.0, 9, 55]]

In [ ]:
a = (4, 14, 3)
x = sorted(a)
print(x)

[3, 4, 14]

In [ ]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

fvt_subj = "my favourite subject is Mathematics and i love to teach Mathematics"
print(fvt_subj.count('Mathematics', 25, 70))

poolhouse
POOLHOUSE
3
1

In [ ]:
name = "ICODEGURU"
print(name.lower())

icodeguru

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50, 9.5, 9.500]

# Print out the index of the element 20.0
print(areas[2])
print(areas.index(9.5))

# Print out how often 9.50 appears in areas
print(areas.count(9.5))

20.0
4
3

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
print(areas)
# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [ ]:
# Import the math package
import math

print(math.pi)

print(math.factorial(3))
print(math.factorial(6))

3.141592653589793
6
720

In [ ]:
# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = 2 * r * math.pi

# Calculate A
A = math.pi * r ** 2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

In [ ]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r * radians(12)

# Print out dist
print(dist)

40317.10572106901

In [ ]:
#1.4 == Numpy
#NumPy is a python library used for working with arrays. 
#It also has functions for working in domain of linear algebra, 
#fourier transform, and matrices.

In [1]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

In [9]:
# height is available as a regular list
height = [1.5, 1.7, 1.83]

# Import numpy
import numpy as np

# Create a numpy array from height_in: np_height
np_height = np.array(height)

# Print out np_height_in
print(np_height)

# Convert np_height_in to m: np_height_m
np_height_m = np_height * 0.0254

# Print np_height_m
print(np_height_m)

[1.5  1.7  1.83]
[0.0381   0.04318  0.046482]

In [14]:
# height and weight are available as regular lists
weight_lb = [75, 80, 90]
np_weight_lb =  np.array([75, 80, 90])

# Create array from height_in with metric units: np_height_m
np_height_m = np.array(height) * 0.0254
print("np_height_m is ", np_height_m)
# Create array from weight_lb with metric units: np_weight_kg
np_weight_kg = np_weight_lb * 0.453592
print("np_weight_kg is ",np_weight_kg)

# Calculate the BMI: bmi
bmi = np_weight_kg/np_height_m**2

# Print out bmi
print(bmi)

np_height_m is  [0.0381   0.04318  0.046482]
np_weight_kg is  [34.0194  36.28736 40.82328]
[23435.63353793 19462.11781697 18894.62526574]

In [59]:
# height and weight are available as a regular lists

# Import numpy
import numpy as np

# Calculate the BMI: bmi
np_height_m = np.array(height) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

# Create the light array
light = bmi > 21

# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

[ True  True  True]
[23435.63353793 19462.11781697 18894.62526574]

In [20]:
# height and weight are available as a regular lists

# Import numpy
import numpy as np

# Store weight and height lists as numpy arrays
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height)

# Print out the weight at index 1
print(np_weight_lb[1])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[1:3])

80
[1.7  1.83]

In [63]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188,12]]

# Import numpy
import numpy as np
# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)
print(np_baseball)

<class 'numpy.ndarray'>
(4, 2)
[[180.   78.4]
 [215.  102.7]
 [210.   98.5]
 [188.   12. ]]

In [65]:
# baseball is available as a regular list of lists

# Import numpy package
import numpy as np

# Create np_baseball (2 cols)
np_baseball = np.array(baseball)
print(np_baseball)

# Print out the 1 row and all column of np_baseball
print(np_baseball[1,:])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb = np_baseball[:,1]
print(np_weight_lb)

# Print out height of 1 row and 0 column player
print(np_baseball[3, 1])

[[180.   78.4]
 [215.  102.7]
 [210.   98.5]
 [188.   12. ]]
[215.  102.7]
[ 78.4 102.7  98.5  12. ]
12.0

In [41]:
print(np_baseball)
np_weight_lb = np_baseball[:,0]
print(np_weight_lb)

[[180.   78.4]
 [215.  102.7]
 [210.   98.5]
 [188.   75.2]]
[180. 215. 210. 188.]

In [58]:
# np_baseball is available
#a median is a value separating the higher half from the lower half of a data sample
#1, 2, 3, 4,5 ,6 ,7 ==4 is median here
# Import numpy
import numpy as np

# Create np_height_in from np_baseball
np_height_in = np_baseball[:,0]
print(np_height_in)

# Print out the mean of np_height_in
print(np.mean(np_height_in))

# Print out the median of np_height_in
print(np.median(np_height_in))

[180. 215. 210. 188.]
198.25
199.0

In [57]:
# np_baseball is available

# Import numpy
import numpy as np

# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. '
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

Average: 198.25
Median: 199.0

In [67]:
# heights and positions are available as lists
positions = ['GK', 'M', 'A', 'D']
heights = [191, 184, 185, 180,]
# Import numpy
import numpy as np

# Convert positions and heights to numpy arrays: np_positions, np_heights
np_positions = np.array(positions)
np_heights = np.array(heights)

# Heights of the goalkeepers: gk_heights
gk_heights = np_heights[np_positions == 'M']
print(gk_heights)
# Heights of the other players: other_heights
other_heights = np_heights[np_positions != 'GK']
print(other_heights)

# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + str(np.median(other_heights)))

[184]
[184 185 180]
Median height of goalkeepers: 184.0
Median height of other players: 184.0